.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #fff7ed;
}

section {
  padding: 1.5em 1.5rem;
  height: 150vh;
}

/* Footer */
.footer {
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 2em 0;
  color: #aaaaaa;
  background-color: #252525;
}

/* Header */
.header_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1.5rem;
  height: 10v;
  background-color: #fff7ed;
}

.menu {
  display: flex;
  align-items: center;

  gap: 3rem;
  color: #4d4d4d;
}

.menu_item {
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
}

.menu_item:focus {
  text-decoration: underline;
  color: #161616;
}

.logo {
  font-size: 26px;
  font-weight: 900;
  text-decoration: none;
  color: #000000;
}

.login_icon {
  width: 18px;
  margin-top: 5px;
}

/* Main */
.main_container {
  display: flex;
  flex-direction: column;
  color: white;
  background: url(./assets/image\ 53.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  gap: 15px;
}

.main_container h1 {
  margin-top: 2em;
  font-size: 36px;
  font-weight: bold;
  line-height: 42px;
}

.main_container p {
  line-height: 24px;
}

.main_container button {
  margin-top: 3rem;
  padding: 1em;
  font-size: 1.2em;
  font-weight: bold;
  color: white;
  background-color: #ff8c38;
  border: none;
  border-radius: 5px;
}

/* About */
.about_img {
  width: 100%;
}

.about_section {
  display: flex;
  gap: 25px;
  flex-direction: column;
}

.about_text {
  margin-bottom: 2rem;
}

.about_section h1 {
  font-size: 32px;
}

.about_offer {
  background-color: #ffcc8d;
  padding: 2rem;
  border-radius: 5px;
  margin-bottom: 40px;
}

.about_offer h2 {
  margin-bottom: 25px;
}

.about_offer button {
  padding: 1rem 2rem;
  background-color: black;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

/* Vans */
.vans {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.vans_header {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.vans_header h1 {
  font-size: 32px;
}

.vans_filters_wrapper {
  display: flex;
  justify-content: space-between;
}

.filters {
  display: flex;
  gap: 20px;
}

.filter {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #ffead0;
  color: #4d4d4d;
  font-size: 16px;
  border: none;
}

.clear_filters {
  border: none;
  background: none;
  color: #4d4d4d;
  text-decoration: underline;
  font-size: 16px;
}
.vans_list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 40px;

  justify-content: space-around;
}
.van {
  display: flex;
  flex-direction: column;
}

.van img {
  width: 13rem;
  border-radius: 5px;
}

.van_info {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.van_info h2 {
  font-size: 18px;
  display: flex;
  flex-direction: column;

  text-align: end;
}
.van_info h2 span {
  font-size: 14px;
  font-weight: 300;
}

.van_type {
  border-radius: 5px;
  padding: 10px 15px;

  text-transform: capitalize;
  color: white;
  font-size: 16px;
  align-self: start;
}

/* Van Detail */
.van_detail_header {
  display: flex;
  gap: 5px;
  align-items: center;
}

.van_detail {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.van_detail_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

.van_detail_info h2 {
  font-size: 26px;
}

.van_detail_price {
  font-size: 24px;
  font-weight: bold;
}

.van_detail_price span {
  font-weight: 300;
  font-size: 20px;
}
.btn {
  border: none;
  font-family: inherit;
  font-size: 18px;
  font-weight: bold;
  color: white;
  width: 100%;
  padding: 1rem;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 40px;
}

.van_detail_button {
  background-color: #ff8c38;
}

.van_detail_loading {
  margin-top: 20px;
  height: 80vh;
}

/* Host */
.host_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  background-color: #fff7ed;
}

/* HostVans */
.host_vans {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.host_vans h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

.host_vans_list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  background-color: white;
  padding: 1em;
  border-radius: 5px;
  height: 100px;
}

.host_vans_list img {
  height: 65px;
  border-radius: 5px;
}

.host_van_info {
  display: flex;
  flex-direction: column;
  padding-top: 5px;
  gap: 5px;
}

.host_van_info h2 {
  font-size: 20px;
  color: #161616;
}

.host_van_info p {
  font-size: 16px;
  color: #4d4d4d;
}

.van_detail_host {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 1.5rem;
  gap: 20px;
}

.van_host_header img {
  width: 160px;
  height: 160px;
  border-radius: 5px;
}

.van_host_header {
  display: flex;
  gap: 20px;
}

.van_host_detail_nav {
  display: flex;
  gap: 20px;
  align-items: center;
  font-size: 16px;
  height: 10v;
  background-color: #fff7ed;
}

.host_nav_detail {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  align-items: center;
  padding: 1rem 0;
}

/* HostInfo */
.host_van_detail_info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.host_van_detail_info span {
  font-weight: 300;
}

/* Pricing */
.host_van_pricing span {
  font-weight: 300;
  font-size: 16px;
  color: #4d4d4d;
}

/* Photos */
.host_van_photo {
  height: 100px;
  width: 100px;
  border-radius: 5px;
}

.filter:hover {
  color: #ffead0;
}

.filter:focus {
  outline: none;
}

.filter.selected {
  color: #ffead0;
}

.filter.simple:hover,
.filter.simple.selected {
  background-color: #e17654;
}

.filter.rugged:hover,
.filter.rugged.selected {
  background-color: #115e59;
}

.filter.luxury:hover,
.filter.luxury.selected {
  background-color: #161616;
}

/* notfound */
.notfound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.notfound h1 {
  font-size: 32px;
}

.notfound button {
  background-color: black;
  font-weight: 300;
}

/* Login */
.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.login h1 {
  font-size: 32px;
  margin-bottom: 30px;
}

.login_form {
  display: flex;
  flex-direction: column;
}

.login input {
  padding: 18px 13px;
  border-radius: 5px;
  border: 0.5px solid #4d4d4d;
  background-color: white;
  font-size: 16px;
}

.login input:nth-last-child(even) {
  margin-bottom: 22px;
  border-top: none;
}

.login button {
  background-color: #ff8c38;
  padding: 17px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 5px;
}

.login h3 {
  margin-top: 40px;
  font-weight: normal;
}

.login h3 a {
  font-weight: bold;
  color: #ff8c38;
}

.host-dashboard-earnings {
  background-color: #ffead0;
  padding: 37px 26px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.host-dashboard-earnings > .info > h1 {
  font-size: 36px;
  color: #161616;
  margin: 0;
}

.host-dashboard-earnings > .info > p {
  color: #4d4d4d;
}

.host-dashboard-earnings > .info > p > span {
  text-decoration: underline;
  font-weight: bold;
}

.host-dashboard-earnings > .info > h2 {
  margin: 0;
  font-size: 38px;
  color: #161616;
  font-weight: 900;
}

.host-dashboard-reviews {
  background-color: #ffddb2;
  padding: 25px 26px;
  display: flex;
  align-items: center;
}

.host-dashboard-reviews > h2 {
  margin: 0;
}

.host-dashboard-reviews .star {
  color: #ff8c38;
  margin-left: 15px;
  font-size: 25px;
}

.host-dashboard-reviews p {
  margin-left: 5px;
  font-size: 20px;
  color: #4d4d4d;
  margin-right: auto;
}

.host-dashboard-reviews p > span {
  font-weight: bold;
  color: #161616;
}

.host-dashboard-vans {
  padding: 38px 26px;
}

.host-dashboard-vans > .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.host-dashboard-vans .host-vans-list {
  padding-inline: 0;
}

.host-income {
  padding-inline: 26px;
  color: #161616;
}

.host-income > p {
  color: #4d4d4d;
}

.host-income > p span {
  text-decoration: underline;
  font-weight: bold;
}

.host-income > h2 {
  font-size: 38px;
  color: #161616;
  font-weight: 900;
}

img.graph {
  width: 100%;
  max-width: 500px;
}

.host-income .info-header > p {
  color: #4d4d4d;
}

.host-income .info-header > p span {
  text-decoration: underline;
  font-weight: bold;
}

.host-income .info-header > h3 {
  font-weight: 700;
  font-size: 24px;
  margin-top: 60px;
}

.host-income .transaction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  margin-bottom: 31px;
  padding: 35px 29px;
  border-radius: 6px;
}
.host-income .transaction > h3 {
  font-size: 36px;
  font-weight: 600;
  margin: 0;
}

.host-income .transaction > p {
  font-weight: 500;
  font-size: 20px;
  color: #4d4d4d;
}

.host-reviews {
  padding-inline: 26px;
  color: #161616;
}

.host-reviews .top-text {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}

.host-reviews .top-text > h2 {
  font-weight: 700;
  font-size: 32px;
  margin: 0;
  margin-right: 20px;
}

.host-reviews .top-text > p {
  margin: 0;
  color: #4d4d4d;
}

.host-reviews .top-text > p span {
  text-decoration: underline;
  font-weight: bold;
}

.host-reviews > img {
  margin-bottom: 36px;
}

.host-reviews .review {
  margin-block: 25px;
}

.host-reviews .review .info {
  display: flex;
}

.host-reviews .review .name {
  color: #161616;
  margin-right: 10px;
  font-weight: 600;
}

.host-reviews .review .date {
  color: #8c8c8c;
}

.host-reviews hr {
  background-color: #c7c7c7;
  height: 1px;
  border: 0;
}

.host-reviews .review-star {
  color: #ff8c38;
  margin-right: 5px;
}
