html,
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100%;
  width: 100%;
  font-family: "Inter", sans-serif;
}

a:-webkit-any-link {
  color: none;
  text-decoration: none;
  font-family: inherit;
  color: inherit;
}
